html{
  background-image:url('images/fog.jpg');
  background-size: cover;
  cursor: url('images/Harry Potter Cursor Normal Wand.cur'), pointer;
}

/*Harry Potter Font*/
@font-face {
    font-family: ParryHotter;
    src: url('fonts/ParryHotter.ttf');
}

nav {
  text-align: right;
}

.whoami-user-name {
  margin-right: 5px;
  color:white;
  font-weight:600;
}

.ravenclaw{
  width:150px;
  height:200px;
  background-image: url('images/ravenclawEmblem.png');
  background-size:cover;
  float:left;
}


/* light it up text-shadow*/
/* text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
*/
a {
  color: steelblue;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
}

.level {
  color: white;
  margin: auto;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
}

.level h1 {
  font-size: 3em;
  font-family: ParryHotter;
  margin-top: -25px;
  margin-bottom: -25px;
}

#levelNum{
  font-size: 1.5em;
}

.level p {
  font-size: 1.5em;
  font-weight: 500;
}

/*.levelStage{
  border: 2px solid lightgray;
  width: 800px;
  height: 500px;
  margin:auto;
}*/

.preStage{
  background-color: black;
  border: 2px solid lightgray;
  width: 800px;
  height: 500px;
  margin:auto;
}

.postStage{
  background-color: white;
  border: 2px solid lightgray;
  width: 800px;
  height: 500px;
  margin:auto;
}

/*Specific levels*/
.preStage.lumos{

}
.postStage.lumos{
  background-image: url("images/lumos.jpg");
  background-size: cover;
}



/*SPECIFIC LEVELS END*/
